src/main/resources/wsdl1.wsdl

<definitions name="HelloService"
	targetNamespace="http://www.examples.com/wsdl/HelloService.wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.examples.com/wsdl/HelloService.wsdl"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.examples.com/wsdl/HelloService.wsdl">
			<xsd:element name="inputHello" type="xsd:string"></xsd:element>
			<xsd:element name="outputHello" type="xsd:string"></xsd:element>
		</xsd:schema>
	</wsdl:types>
	<message name="SayHelloRequest">
		<part name="firstName" element="tns:inputHello" />
	</message>

	<message name="SayHelloResponse">
		<part name="greeting" element="tns:outputHello" />
	</message>

	<portType name="Hello_PortType">
		<operation name="sayHello">
			<input message="tns:SayHelloRequest" />
			<output message="tns:SayHelloResponse" />
		</operation>
	</portType>

	<binding name="Hello_Binding" type="tns:Hello_PortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="sayHello">
			<soap:operation soapAction="sayHello" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>

	<service name="Hello_Service">
		<documentation>WSDL File for HelloService</documentation>
		<port binding="tns:Hello_Binding" name="Hello_Port">
			<soap:address location="http://www.examples.com/SayHello/" />
		</port>
	</service>
</definitions>